body {
    overflow-x: hidden !important;
    /* Hide horizontal scrollbar */
    background-color: #FAF9F6;
}

.btn-secondary {
    color: #fff !important;
}

img {
    width: 100%;
}

.logo {
    width: 100px;
    height: 40px;
}

.navbar {
    background: -webkit-linear-gradient(left, #000533, #0011ff) !important;
    background: linear-gradient(left, #000533, #0011ff);
    opacity: 0.9;
}

#main-footer {
    background: -webkit-linear-gradient(left, #000533, #0011ff) !important;
    background: linear-gradient(left, #000533, #0011ff);
}

.footer a {
    color: #fff !important;
}

#footer-list {
    color: #fff;
}

.social a {
    margin-right: 0.4rem;
}

.invalid-feedback {
    display: inline !important;
}

#showcase {
    background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 6rem;
}

#showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px;
}

#showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8);
}

#showcase-inner {
    background: url(../img/showcase.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 150px;
}

#showcase-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(6, 36, 138, 0.596);
    ;
}

#showcase-inner.showcase-search {
    min-height: 270px;
}

#work {
    padding: 6rem 0;
}

@media (max-width: 991px) {
    #showcase {
        padding-top: 4rem;
    }
    #showcase h1 {
        font-size: 40px;
    }
    .hide-md-down {
        display: none;
    }
}

@media (max-width: 768px) {
    #showcase {
        padding-top: 3rem;
    }
    #showcase h1 {
        font-size: 40px;
    }
    #showcase p {
        display: none;
    }
    #top-bar {
        text-align: center;
    }
    #top-bar .social {
        text-align: center !important;
    }
}

@media (max-width: 576px) {
    #showcase h1 {
        font-size: 30px;
    }
    #showcase-inner h1 {
        font-size: 40px;
    }
}

.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    opacity: 0.9;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(2, 10, 80, 0.486);
}

@media (max-width: 576px) {
    .banner {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: auto;
        opacity: 0.9;
    }
    .banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
        background: rgba(2, 10, 80, 0.486);
    }
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 2s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.carousel-caption {
    padding-bottom: 150px;
    font-family: poppins;
}

.carousel-caption h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-caption h2 span {
    color: rgba(2, 10, 80, 0.486);
    display: inline-block;
}

.carousel-caption a {
    background: rgba(2, 10, 80, 0.486);
    border-color: #000000;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
}

.carousel-control-prev {
    background-image: none;
}

.carousel-control-next {
    background-image: none;
}

.carousel-indicators .active {
    background-color: rgba(2, 10, 80, 0.486);
    border-color: rgba(2, 10, 80, 0.486);
}


/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        padding-bottom: 150px;
    }
    .carousel-caption h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-caption {
        padding-bottom: 5px;
    }
    .carousel-caption h2 {
        font-size: 25px;
    }
    .carousel-caption h3 {
        font-size: 18px;
    }
    .carousel-caption a {
        padding: 10px 25px;
    }
}

.site-section {
    padding-top: 30px;
}

@media (min-width: 768px) {
    .site-section {
        padding-top: 20px;
    }
}

.site-section.site-section-sm {
    padding-top: 20px;
}

.site-section-heading {
    padding-bottom: 10px;
    margin-bottom: 0px;
    position: relative;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .site-section-heading {
        font-size: 3rem;
    }
}

.section-title-underline {
    color: #000;
}

.section-title-underline span {
    display: inline-block;
    border-bottom: 4px solid rgb(0, 5, 54);
}

.section-title-underline.style-2 {
    color: #fff;
}

.section-title-underline.style-2 span {
    border-color: #10284e;
}

.section-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 0;
}

.section-bg.style-1 {
    background: url(../img/bottomshowcase.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.section-bg.style-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #033070b2;
    opacity: 0.9;
    z-index: 0;
}

.section-bg.style-1>.container {
    z-index: 2;
}

.section-bg.style-1 .icon {
    font-size: 3.5rem;
    color: #ffffff;
    position: relative;
}

.section-bg.style-1 h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
}

.section-bg.style-1 p {
    color: #7697c6;
}

.feature-1 .icon-wrapper,
.person .icon-wrapper {
    position: relative;
    width: 96px;
    height: 55.43px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
    margin-top: -33.94px;
    background: #ccc;
}

.feature-1 .icon-wrapper>span,
.person .icon-wrapper>span {
    width: 96px;
    height: 96px;
    text-align: center;
    font-size: 3rem;
    line-height: 96px;
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 0;
}

.feature-1 .icon-wrapper:before,
.feature-1 .icon-wrapper:after,
.person .icon-wrapper:before,
.person .icon-wrapper:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 67.88px;
    height: 67.88px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 14.06px;
}

.feature-1 .icon-wrapper:before,
.person .icon-wrapper:before {
    top: -33.94px;
}

.feature-1 .icon-wrapper:after,
.person .icon-wrapper:after {
    bottom: -33.94px;
}

.feature-1 .feature-1-content,
.person .feature-1-content {
    padding: 50px 20px 20px 20px;
    text-align: center;
}

.feature-1 .feature-1-content h2,
.person .feature-1-content h2 {
    font-size: 1.3rem;
    color: #000;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mb-5,
.my-5 {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}

.table .table-header {
    background-color: #000533 !important;
    color: #fff;
}

.footer-list :hover {
    color: rgb(0, 0, 0);
}

.footer-list a:hover {
    color: rgb(0, 0, 0) !important;
}

.footer-list {
    text-align: center;
}

.footer-heading {
    text-align: center;
}

.course-card {
    padding-top: 10px;
    width: 200px;
    height: 300px;
}

@media only screen and (max-width: 767px) {
    .course-card {
        padding-top: 10px;
        width: 200px;
        height: 300px;
    }
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#work {
    margin-top: 50px;
}

.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
}

.work-box:hover img {
    transform: scale(1.3);
}

.work-img {
    position: relative;
    width: 260px;
    height: 200px;
    display: block;
    overflow: hidden;
}

.work-img img {
    transition: all 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
}

.course-box:hover img {
    transform: scale(1.3);
}

.course-img {
    position: relative;
    height: 250px;
    display: block;
    overflow: hidden;
}

.course-img img {
    transition: all 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}